body {
  font-family: 'Montserrat', sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.span-italik {
  font-style: italic;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-logo {
  color: #111;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.03;
}

.header-menu-link {
  color: #111;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02;
}
.header-menu-link:hover {
  color: #fd9222;
}

/* .header-soc-list {
}
.header-soc-item {
}
.header-soc-link {
} */
/*-------------------------SECTION 1 ----------------------------------*/

.main {
}
.hero {
  background: rgba(17, 17, 17, 0.6);
}
.hero-title {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.03em;
}
.button-buy-btn {
  color: #fff;
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
}
.button-how-btn {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}
.button-scroll-btn {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.03em;
}

/*-----------------------------SECTION  2 ----------------------------------*/
.section-first {
  background: #1e1823;
}
.section-first-list {
}
.section-first-item {
}
.hero-section-first {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}
.text-section-first {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29; /* 128.571% */
  letter-spacing: -0.02em;
}

/*-------------------------------SECTION  3 ----------------------------------*/

.chocolate-section {
}
.hero-chocolate-section {
  color: #111;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.16; /* 116.667% */
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.chocolate-text-section {
  color: #111;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28; /* 128.571% */
  letter-spacing: -0.02em;
}
.chocolate-list-section {
}
.chocolate-item-section {
}
.img-chocolate-section {
}
.hero-chocolate-title {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29; /* 128.571% */
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.chocolate-color-dark {
  color: #111;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.28; /* 128.571% */
  letter-spacing: -0.02em;
}

/*-------------------------------SECTION 4 --------------------------------*/

.section-made-chocolate {
}
.made-hero {
  color: #111;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.16; /* 116.667% */
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.made-img-chocolate {
}
.made-hero-try {
  color: #111;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33; /* 133.333% */
}
.made-chocolate-list {
}
.made-chocolate-item {
}
.made-text-chocolate {
  color: #111;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28; /* 128.571% */
  letter-spacing: -0.02em;
}

/*------------------------------SECTION 5 --------------------------------*/

.section-product {
}
.product-hero {
  color: #111;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.16; /* 116.667% */
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.product-list {
}
.product-item {
}
.img-product {
}
.product-hero-item {
  color: #111;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33; /* 133.333% */
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.product-text-item {
  color: rgba(17, 17, 17, 0.7);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16; /* 116.667% */
  letter-spacing: -0.02em;
}
.button-product-item {
  color: #111;
  font-size: 14px;
  font-weight: 600;
}
/*------------------------------SECTION 6 -------------------------------*/

.section-sellers {
}
.hero-sellers {
  color: #111;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.sellers-list {
}
.sellers-item {
}
.sellers-img-item {
}
.hero-sellers-item {
}
.hero-sellers-hero {
  color: #111;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33; /* 133.333% */
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

/*------------------------------SECTION 7 ------------------------------*/

.section-chocolate-lovers {
}
.hero-chocolate-lovers {
  color: #111;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.chocolate-lovers-list {
}
.chocolate-lovers-item {
}
.chocolate-lovers-img {
}
.subtitle-lovers {
  color: #111;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33; /* 133.333% */
}
.chocolate-lovers-text {
  color: rgba(17, 17, 17, 0.7);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28; /* 128.571% */
  letter-spacing: -0.02em;
}
.button-chocolate-lovers {
  color: #111;
  font-size: 18px;
  font-weight: 600;
}

/*-------------------------------- FOOTER ----------------------------------*/

.footer-chocolate {
  background: #1e1823;
}
.footer-subtitle {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02em;
}
.subtitle-text {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28; /* 128.571% */
}
.footer-list {
}
.footer-item {
}
.footer-logo {
}
.footer-paragraf {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28; /* 128.571% */
}
.footer-address {
}
.footer-address-list {
}
.footer-item-contact {
}
.footer-logo-address {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28; /* 128.571% */
  letter-spacing: -0.02em;
}
.footer-navi {
}
.footer-navi-list {
  list-style-type: none;
  text-decoration: none;
}
.footer-navi-item {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14; /* 114.286% */
  letter-spacing: -0.02em;
}
.button-footer {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}
